!
! black dark/light
*color0:                  #073642
*color8:                  #002b36
! red dark/light
*color1:                  #dc322f
*color9:                  #cb4b16
! green dark/light
*color2:                  #859900
*color10:                 #586e75
! yellow dark/light
*color3:                  #b58900
*color11:                 #657b83
! blue dark/light
*color4:                  #268bd2
*color12:                 #839496
! magenta dark/light
*color5:                  #d33682
*color13:                 #6c71c4
! cyan dark/light
*color6:                  #2aa198
*color14:                 #93a1a1
! white dark/light
*color7:                  #eee8d5
*color15:                 #fdf6e3

! Xft ----------------------------------------------------------------------------------
Xft.dpi:       96
Xft.antialias: true
Xft.rgba:      rgb
Xft.hinting:   true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

*background:              #002b36
*foreground:              #839496
*fading:                  40
*cursorColor:             #93a1a1
*pointerColorForeground:  #93a1a1
*pointerColorBackground:  #586e75
*fadeColor:               #fdf6e3

Tk*font: fixed
*.font:           xft:Dejavu Mono:style=Regular:pixelsize=12
*Font:            xft:Dejavu Mono:style=Regular:pixelsize=12
*faceName:        xft:Dejavu Mono:style=Regular:pixelsize=12
*.imFont:         xft:Dejavu Mono:style=Regular:pixelsize=12
*.boldFont:       xft:Dejavu Mono:style=Bold:pixelsize=12
*.italicFont:     xft:Dejavu Mono:style=Italic:pixelsize=12

xscreensaver.*.foreground:               #839496
xscreensaver.*.background:               #002b36
xscreensaver.captureStderr:              false
xscreensaver.Dialog.topShadowColor:      #073642
xscreensaver.Dialog.bottomShadowColor:   #073642
xscreensaver.Dialog.internalBorderWidth: 0
xscreensaver.Dialog.borderWidth:         0
xscreensaver.Dialog.shadowThickness:     0
xscreensaver.Dialog.Button.background:   #073642

!! xscreensaver TIMEOUT BAR --------------------------------------------
xscreensaver.passwd.thermometer.foreground      : #dc322f
xscreensaver.passwd.thermometer.background      : #073642
xscreensaver.passwd.thermometer.width           : 4
xscreensaver.passwd.thermometer.shadowThickness : 0

!! xscreensaver DATESTAMP FORMAT ---------------------------------------
xscreensaver.dateFormat                     : %I:%M%P %a %b %d, %Y

!! xscreensaver LIGHTDM COMPATIBILITY ----------------------------------
xscreensaver.newLoginCommand                : dm-tool switch-to-greeter

! xterm
xterm*dynamicColors:      true
xterm*eightBitInput:      false
xterm*jumpScroll:         true
xterm*locale:             true
xterm*metaSendsEscape:    true
xterm*multiScroll:        true
xterm*rightScrollBar:     false
xterm*saveLines:          10000
xterm*scrollBar:          false
xterm*scrollKey:          true
xterm*scrollTtyOutput:    false
xterm*termName:           xterm-256color
xterm*toolBar:            false
xterm*utf8:               2

! xclock --------------------------------------------------------------------------------
xclock*update:            1
xclock*analog:            true

!xcalc-----------------------------------------------------------------------

xcalc*geometry:                        200x275
xcalc.ti.bevel.background:             #111111
xcalc.ti.bevel.screen.background:      #000000
xcalc.ti.bevel.screen.DEG.background:  #000000
xcalc.ti.bevel.screen.DEG.foreground:  LightSeaGreen
xcalc.ti.bevel.screen.GRAD.background: #000000
xcalc.ti.bevel.screen.GRAD.foreground: LightSeaGreen
xcalc.ti.bevel.screen.RAD.background:  #000000
xcalc.ti.bevel.screen.RAD.foreground:  LightSeaGreen
xcalc.ti.bevel.screen.INV.background:  #000000
xcalc.ti.bevel.screen.INV.foreground:  Red
xcalc.ti.bevel.screen.LCD.background:  #000000
xcalc.ti.bevel.screen.LCD.foreground:  LightSeaGreen
xcalc.ti.bevel.screen.LCD.shadowWidth: 0
xcalc.ti.bevel.screen.M.background:    #000000
xcalc.ti.bevel.screen.M.foreground:    LightSeaGreen
xcalc.ti.bevel.screen.P.background:    #000000
xcalc.ti.bevel.screen.P.foreground:    Yellow
xcalc.ti.Command.foreground:  White
xcalc.ti.Command.background:  #777777
xcalc.ti.button5.background:  Orange3
xcalc.ti.button19.background: #611161
xcalc.ti.button18.background: #611161
xcalc.ti.button20.background: #611111
!uncomment to change label on division button
!xcalc.ti.button20.label:      /
xcalc.ti.button25.background: #722222
xcalc.ti.button30.background: #833333
xcalc.ti.button35.background: #944444
xcalc.ti.button40.background: #a55555
xcalc.ti.button22.background: #222262
xcalc.ti.button23.background: #222262
xcalc.ti.button24.background: #222272
xcalc.ti.button27.background: #333373
xcalc.ti.button28.background: #333373
xcalc.ti.button29.background: #333373
xcalc.ti.button32.background: #444484
xcalc.ti.button33.background: #444484
xcalc.ti.button34.background: #444484
xcalc.ti.button37.background: #555595
xcalc.ti.button38.background: #555595
xcalc.ti.button39.background: #555595
XCalc*Cursor:                 hand2
XCalc*ShapeStyle:             circle

!!Dmenu
dmenu.foreground:    #fdf6e3
dmenu.selforeground: #002b36
dmenu.selbackground: #cb4b16
