!Solarized color scheme for the X Window System
!
! http://ethanschoonover.com/solarized
!
!
! Common
!
#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900
!
!
! Dark
!
#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3

#define S_emph      S_base1
#define S_primary   S_base0
#define S_secondary S_base01
#define S_bgrnd_hi  S_base02
#define S_bgrnd     S_base03
!
! black dark/light
*color0:                  S_base02
*color8:                  S_base03
! red dark/light
*color1:                  S_red
*color9:                  S_orange
! green dark/light
*color2:                  S_green
*color10:                 S_base01
! yellow dark/light
*color3:                  S_yellow
*color11:                 S_base00
! blue dark/light
*color4:                  S_blue
*color12:                 S_base0
! magenta dark/light
*color5:                  S_magenta
*color13:                 S_violet
! cyan dark/light
*color6:                  S_cyan
*color14:                 S_base1
! white dark/light
*color7:                  S_base2
*color15:                 S_base3

! General settings !
! !!!!!!!!!!!!!!!! !

! Fonts
#define FONT_REGULAR xft:Dejavu Mono:style=Regular:pixelsize=12
#define FONT_BOLD xft:Dejavu Mono:style=Bold:pixelsize=12
#define FONT_ITALIC xft:Dejavu Mono:style=Italic:pixelsize=12
! Xft ----------------------------------------------------------------------------------
Xft.dpi:       96
Xft.antialias: true
Xft.rgba:      rgb
Xft.hinting:   true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

*foreground:              S_primary
*background:              S_bgrnd
*Foreground:              S_primary
*Background:              S_bgrnd
*cursorColor:             S_emph
*pointerColorForeground:  S_emph
*pointerColorBackground:  S_secondary
*fading:                  40
*fadeColor:               S_bgrnd

! General settings.

! Fonts
*.font:           FONT_REGULAR
*.imFont:         FONT_REGULAR
*.boldFont:       FONT_BOLD
*.italicFont:     FONT_ITALIC

! This and the font cleverness from Zoresvit on StackExchange
! Xscreensaver
! ============
xscreensaver.captureStderr: false
!font settings
xscreensaver.Dialog.headingFont: FONT_REGULAR
xscreensaver.Dialog.bodyFont:    FONT_REGULAR
xscreensaver.Dialog.labelFont:   FONT_REGULAR
xscreensaver.Dialog.unameFont:   FONT_REGULAR
xscreensaver.Dialog.buttonFont:  FONT_REGULAR
xscreensaver.Dialog.dateFont:    FONT_REGULAR
xscreensaver.passwd.passwdFont:  FONT_REGULAR
!general dialog box (affects main hostname, username, password text)
xscreensaver.Dialog.foreground: S_primary
xscreensaver.Dialog.background: S_bgrnd
xscreensaver.Dialog.topShadowColor: S_bgrnd
xscreensaver.Dialog.bottomShadowColor: S_bgrnd
xscreensaver.Dialog.Button.foreground: S_primary
xscreensaver.Dialog.Button.background: S_bgrnd_hi
!username/password input box and date text colour
xscreensaver.Dialog.text.foreground: S_primary
xscreensaver.Dialog.text.background: S_bgrnd_hi
xscreensaver.Dialog.internalBorderWidth: 24
xscreensaver.Dialog.borderWidth: 0
xscreensaver.Dialog.shadowThickness: 1
xscreensaver*logo.width: 1
xscreensaver*logo.height: 1
!timeout bar (background is actually determined by Dialog.text.background)
xscreensaver.passwd.thermometer.foreground: S_red
xscreensaver.passwd.thermometer.background: S_blue
xscreensaver.passwd.thermometer.width: 4

! xterm
xterm*faceName:           FONT_REGULAR
xterm*dynamicColors:      true
xterm*utf8:               2
xterm*eightBitInput:      true
xterm*saveLines:          10000
xterm*scrollKey:          true
xterm*scrollTtyOutput:    false
xterm*scrollBar:          false
xterm*rightScrollBar:     false
xterm*jumpScroll:         true
xterm*multiScroll:        true
xterm*toolBar:            false
xterm*termName:           xterm-256color
xterm*locale:             true

! xclock --------------------------------------------------------------------------------

xclock*update:            1
xclock*analog:            true

!xcalc-----------------------------------------------------------------------

xcalc*geometry:                        200x275
xcalc.ti.bevel.background:             #111111
xcalc.ti.bevel.screen.background:      #000000
xcalc.ti.bevel.screen.DEG.background:  #000000
xcalc.ti.bevel.screen.DEG.foreground:  LightSeaGreen
xcalc.ti.bevel.screen.GRAD.background: #000000
xcalc.ti.bevel.screen.GRAD.foreground: LightSeaGreen
xcalc.ti.bevel.screen.RAD.background:  #000000
xcalc.ti.bevel.screen.RAD.foreground:  LightSeaGreen
xcalc.ti.bevel.screen.INV.background:  #000000
xcalc.ti.bevel.screen.INV.foreground:  Red
xcalc.ti.bevel.screen.LCD.background:  #000000
xcalc.ti.bevel.screen.LCD.foreground:  LightSeaGreen
xcalc.ti.bevel.screen.LCD.shadowWidth: 0
xcalc.ti.bevel.screen.M.background:    #000000
xcalc.ti.bevel.screen.M.foreground:    LightSeaGreen
xcalc.ti.bevel.screen.P.background:    #000000
xcalc.ti.bevel.screen.P.foreground:    Yellow
xcalc.ti.Command.foreground:  White
xcalc.ti.Command.background:  #777777
xcalc.ti.button5.background:  Orange3
xcalc.ti.button19.background: #611161
xcalc.ti.button18.background: #611161
xcalc.ti.button20.background: #611111
!uncomment to change label on division button
!xcalc.ti.button20.label:      /
xcalc.ti.button25.background: #722222
xcalc.ti.button30.background: #833333
xcalc.ti.button35.background: #944444
xcalc.ti.button40.background: #a55555
xcalc.ti.button22.background: #222262
xcalc.ti.button23.background: #222262
xcalc.ti.button24.background: #222272
xcalc.ti.button27.background: #333373
xcalc.ti.button28.background: #333373
xcalc.ti.button29.background: #333373
xcalc.ti.button32.background: #444484
xcalc.ti.button33.background: #444484
xcalc.ti.button34.background: #444484
xcalc.ti.button37.background: #555595
xcalc.ti.button38.background: #555595
xcalc.ti.button39.background: #555595
XCalc*Cursor:                 hand2
XCalc*ShapeStyle:             circle
